@import 'variables';

body {
  background-color: #f5f5f5;
  color: $font-color;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
